.extras {
    margin-bottom: 37px;
    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__title {
        color: $extras-text;
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 48px;
        text-align: center;
        text-transform: uppercase;
    }
}
