.tab {
    font-family: $font-primary;
    width: 100%;
    &--services {
        &__button {
            background: none;
            border: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            padding: 18px 0;
            text-align: center;
            width: 100%;
        }
        &__item {
            background: $bg-light;
            border: 1px solid $br-grey;
        }

        &-active {
            background: $bg-grey;
            button {
                color: $text-light;
            }
        }

        &__text span {
            color: $text-light;
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        &--services {
            background-color: $bg-dark;
            &__container {
                display: flex;
                justify-content: space-between;
                padding: 0 5%;
                padding-bottom: 16px;
                padding-top: 14px;
            }

            &__text {
                align-items: center;
                display: flex;
                span {
                    display: block;
                }
            }

            &__row {
                margin-right: 5%;
                width: 145px;
            }

            &__item {
                background: none;
                border: none;

                button {
                    background-color: $bg-grey;
                }
            }

            &-active button {
                background-color: $bg-purple;
            }

            &__button {
                background-color: $bg-grey;
                border-radius: 50%;
                height: 6px;
                padding: 0;
                width: 6px;
                span {
                    display: none;
                }
            }
        }
    }
}
