$white: #ffffff;
$grey: #313131;
$purple-light: #a191b2;
$black: #000000;
$pruple-tab: #9581aa;
$red: #d8624c;

// font
$font-primary: "Raleway", sans-serif;
// text
$text-light: $white;

// backgrounds
$bg-dark: $black;
$bg-grey: $grey;
